# IDE
.idea

# Application
.env.*

# Symfony
/var/
/vendor/
/public/bundles

# PHP-cs-fixer
.php-cs-fixer.php
.php-cs-fixer.cache
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
