includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 8
    fileExtensions: [php]
    paths:
        - src
    excludePaths:
        - src/tests/*
        - src/Parser/SerializerAwareParserTrait.php
        - src/ValueObject/*
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#^Cannot call method [a-z]+() on Psr\\Log\\LoggerInterface|null.$#'
